@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Commissioner", sans-serif;
}

.navbar {
  position: absolute;
  background-color: white;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 10px;
  z-index: 20;
}
